n8n/workflows/plan-domain-signals.json
{
  "name": "Lumon — Plan: Domain Availability Signals",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lumon-plan-domain",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lumon-plan-domain"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, executionId: $json.headers?.['x-n8n-execution-id'] || 'n8n-' + Date.now() }) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Domain Availability Check — Real Porkbun API with graceful degradation\n// Reads Porkbun credentials from webhook body context (injected by bridge server T01).\n// If credentials are missing, falls back to simulated data.\n// Rate limit: Porkbun allows 1 check per 10 seconds — we wait 11s between calls.\n\nconst body = $input.first().json.body;\nconst { projectId, stageKey, executionId, subStage } = body;\nconst selectedName = body.context?.selectedName || 'Nexus';\nconst porkbunApiKey = body.context?.porkbunApiKey;\nconst porkbunApiSecret = body.context?.porkbunApiSecret;\n\nconst baseName = selectedName.toLowerCase().replace(/[^a-z0-9]/g, '');\nconst tlds = ['com', 'io', 'dev', 'co', 'app', 'ai'];\n\n// --- Helper: sleep for rate limiting ---\nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n\n// --- Simulated fallback data (used when credentials are missing) ---\nfunction getSimulatedSignals(baseName) {\n  return [\n    { domain: `${baseName}.com`, status: 'taken', registrar: 'Simulated', price: null },\n    { domain: `${baseName}.io`, status: 'premium', registrar: 'Simulated', price: '$2,495/yr' },\n    { domain: `${baseName}.dev`, status: 'available', registrar: 'Simulated', price: '$12/yr' },\n    { domain: `${baseName}.co`, status: 'taken', registrar: 'Simulated', price: null },\n    { domain: `${baseName}.app`, status: 'available', registrar: 'Simulated', price: '$14/yr' },\n    { domain: `${baseName}.ai`, status: 'premium', registrar: 'Simulated', price: '$4,999/yr' }\n  ];\n}\n\n// --- Graceful degradation: no credentials ---\nif (!porkbunApiKey || !porkbunApiSecret) {\n  return {\n    json: {\n      projectId,\n      stageKey,\n      executionId,\n      subStage: subStage || 'domain_signals',\n      domainResult: {\n        selectedName,\n        signals: getSimulatedSignals(baseName),\n        checkedAt: new Date().toISOString(),\n        source: 'simulated',\n        dataOrigin: 'Simulated data — Porkbun API credentials not configured',\n        disclaimer: 'Domain availability is a point-in-time check. Results may change.',\n        metadata: {\n          engine: 'n8n-plan-domain-v1-simulated',\n          source: 'simulated',\n          dataOrigin: 'Simulated data — Porkbun API credentials not configured'\n        }\n      }\n    }\n  };\n}\n\n// --- Real Porkbun API calls ---\nconst signals = [];\nconst errors = [];\n\nfor (let i = 0; i < tlds.length; i++) {\n  const tld = tlds[i];\n  const domain = `${baseName}.${tld}`;\n\n  // Rate limiting: wait 11 seconds between calls (skip delay for first call)\n  if (i > 0) {\n    await sleep(11000);\n  }\n\n  try {\n    const response = await fetch(\n      `https://api.porkbun.com/api/json/v3/domain/checkDomain/${domain}`,\n      {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json' },\n        body: JSON.stringify({\n          apikey: porkbunApiKey,\n          secretapikey: porkbunApiSecret\n        })\n      }\n    );\n\n    const data = await response.json();\n\n    if (data.status === 'ERROR') {\n      errors.push({ domain, error: data.message || 'Unknown API error', code: response.status });\n      continue;\n    }\n\n    // Translate Porkbun response to renderer-compatible shape\n    let status;\n    if (data.avail === 'yes') {\n      status = data.premium === 'yes' ? 'premium' : 'available';\n    } else {\n      status = 'taken';\n    }\n\n    const priceNum = parseFloat(data.price);\n    const formattedPrice = !isNaN(priceNum) ? `$${priceNum.toFixed(2)}/yr` : null;\n    const renewalNum = parseFloat(data.renewalPrice);\n    const formattedRenewal = !isNaN(renewalNum) ? `$${renewalNum.toFixed(2)}/yr` : null;\n    const regularNum = parseFloat(data.regularPrice);\n    const formattedRegular = !isNaN(regularNum) ? `$${regularNum.toFixed(2)}/yr` : null;\n\n    signals.push({\n      domain,\n      status,\n      price: formattedPrice,\n      registrar: 'Porkbun',\n      renewalPrice: formattedRenewal,\n      regularPrice: formattedRegular,\n      premium: data.premium === 'yes',\n      firstYearPromo: data.price && data.regularPrice && parseFloat(data.price) < parseFloat(data.regularPrice)\n    });\n  } catch (err) {\n    errors.push({ domain, error: err.message || 'Network error', code: 'NETWORK_ERROR' });\n  }\n}\n\nreturn {\n  json: {\n    projectId,\n    stageKey,\n    executionId,\n    subStage: subStage || 'domain_signals',\n    domainResult: {\n      selectedName,\n      signals,\n      checkedAt: new Date().toISOString(),\n      source: 'porkbun-api',\n      dataOrigin: 'Porkbun Domain Availability API',\n      disclaimer: 'Domain availability is a point-in-time check. Results may change. Pricing is sourced from Porkbun and subject to change.',\n      metadata: {\n        engine: 'porkbun-live-v1',\n        source: 'porkbun-api',\n        dataOrigin: 'Porkbun Domain Availability API',\n        errors: errors.length > 0 ? errors : undefined\n      }\n    }\n  }\n};"
      },
      "id": "domain-availability-check",
      "name": "Domain Availability Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/pipeline/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $json.executionId, projectId: $json.projectId, stageKey: $json.stageKey, subStage: $json.subStage, result: { type: 'domain_signals', content: $json.domainResult, metadata: $json.domainResult.metadata || { engine: 'porkbun-live-v1' } } }) }}",
        "options": {}
      },
      "id": "callback-to-bridge",
      "name": "Callback to Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Domain Availability Check", "type": "main", "index": 0 }
        ]
      ]
    },
    "Domain Availability Check": {
      "main": [
        [
          { "node": "Callback to Bridge", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-21T00:00:00.000Z",
  "versionId": "2"
}
