n8n/workflows/plan-trademark-signals.json
{
  "name": "Lumon — Plan: Trademark Search Signals",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lumon-plan-trademark",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "lumon-plan-trademark"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, executionId: $json.headers?.['x-n8n-execution-id'] || 'n8n-' + Date.now() }) }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Trademark Search Signals — D026-compliant advisory framing\n// Reads the operator-selected name from context and generates simulated\n// USPTO TESS-style trademark search results with explicit advisory disclaimers.\n// These are illustrative signals — NOT connected to a live trademark registry.\n\nconst body = $input.first().json.body;\nconst { projectId, stageKey, executionId, subStage } = body;\nconst selectedName = body.context?.selectedName || 'Nexus';\n\nconst signals = [\n  {\n    mark: selectedName.toUpperCase(),\n    status: 'live',\n    class: '009 — Computer software',\n    registrationNumber: '5,847,321',\n    owner: 'Nexus Technologies LLC',\n    filingDate: '2019-03-15'\n  },\n  {\n    mark: `${selectedName.toUpperCase()} LABS`,\n    status: 'dead',\n    class: '042 — Computer services',\n    registrationNumber: '4,221,098',\n    owner: 'Defunct Corp',\n    filingDate: '2014-07-22'\n  },\n  {\n    mark: `${selectedName.toUpperCase()} AI`,\n    status: 'pending',\n    class: '009 — Computer software',\n    registrationNumber: null,\n    owner: 'AI Ventures Inc',\n    filingDate: '2025-11-03'\n  },\n  {\n    mark: selectedName.toUpperCase(),\n    status: 'live',\n    class: '035 — Advertising and business',\n    registrationNumber: '6,102,445',\n    owner: 'Nexus Marketing Group',\n    filingDate: '2021-06-10'\n  },\n  {\n    mark: `THE ${selectedName.toUpperCase()} PROJECT`,\n    status: 'dead',\n    class: '041 — Education and entertainment',\n    registrationNumber: '3,998,112',\n    owner: 'Creative Collective LLC',\n    filingDate: '2012-01-18'\n  }\n];\n\nreturn {\n  json: {\n    projectId,\n    stageKey,\n    executionId,\n    subStage: subStage || 'trademark_signals',\n    trademarkResult: {\n      selectedName,\n      signals,\n      searchedAt: new Date().toISOString(),\n      disclaimer: 'ADVISORY ONLY — These results are generated from a simulated database for planning purposes and do not constitute legal advice. They do not represent actual USPTO TESS search results. Consult a qualified trademark attorney before making any business decisions based on this information.',\n      dataOrigin: 'Simulated advisory database (not connected to USPTO TESS)',\n      sourceNote: 'Trademark signals are illustrative. Real trademark clearance requires professional legal search services.',\n      metadata: {\n        engine: 'n8n-plan-trademark-v2',\n        source: 'simulated',\n        dataOrigin: 'Simulated advisory database (not connected to USPTO TESS)'\n      }\n    }\n  }\n};"
      },
      "id": "trademark-search",
      "name": "Trademark Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3001/api/pipeline/callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ executionId: $json.executionId, projectId: $json.projectId, stageKey: $json.stageKey, subStage: $json.subStage, result: { type: 'trademark_signals', content: $json.trademarkResult, metadata: $json.trademarkResult.metadata || { engine: 'n8n-plan-trademark-v2' } } }) }}",
        "options": {}
      },
      "id": "callback-to-bridge",
      "name": "Callback to Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Trademark Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "Trademark Search": {
      "main": [
        [
          { "node": "Callback to Bridge", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-21T00:00:00.000Z",
  "versionId": "2"
}
